# Check collection role "run" outcomes.

- name: "Molecule | Verify | Initialize the foundata.fail2ban.run role (without actually running it; get and expose variables)"
  ansible.builtin.include_role:
    name: "foundata.fail2ban.run"
    tasks_from: "init"
    public: true


- name: "Molecule | Verify | Set run_fail2ban* role parameters as facts from __testing_state"
  ansible.builtin.set_fact:
    "{{ item['key'] }}": "{{ item['value'] }}"
  loop: >-
    {{
      __testing_state
      | ansible.builtin.dict2items
      | ansible.builtin.selectattr('key', 'match', '^run_fail2ban_')
      | ansible.builtin.list
    }}


- name: "Molecule | Verify | Set / overwrite other expected configuration or testing data "
  ansible.builtin.set_fact:
    __run_fail2ban_config_service_dropin_file_path: >-
      {{ __run_fail2ban_config_service_dropin_dir_path }}/{{ run_fail2ban_config_service_dropin_file_name }}
    __testing_journalctl_executable: >-
      {{
        '/bin/journalctl'
        if (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version'] | int == 11)
        else '/usr/bin/journalctl'
      }}


- name: "Molecule | Verify | Check if fail2ban drop-in configuration file exists"
  ansible.builtin.stat:
    path: "{{ __run_fail2ban_config_service_dropin_file_path }}"
  register: __testing_dropin_file


- name: "Molecule | Verify | Assert fail2ban drop-in configuration file exists"
  ansible.builtin.assert:
    that:
      - __testing_dropin_file['stat']['exists']
    fail_msg: "The fail2ban drop-in configuration file '{{ __run_fail2ban_config_service_dropin_file_path }}' does not exist."
    success_msg: "The fail2ban drop-in configuration file '{{ __run_fail2ban_config_service_dropin_file_path }}' exists."


- name: "Molecule | Verify | Check if default fail2ban drop-in configuration file does exists (if custom filename is used)"
  ansible.builtin.stat:
    path: "{{ __run_fail2ban_config_service_dropin_file_path_default }}"
  when:
    - __run_fail2ban_config_service_dropin_file_path != __run_fail2ban_config_service_dropin_file_path_default
  register: __testing_dropin_file_default


- name: "Molecule | Verify | Assert default fail2ban drop-in configuration file does not exists (if custom filename is used)"
  ansible.builtin.assert:
    that:
      - __testing_dropin_file_default['stat']['exists'] is ansible.builtin.false
    fail_msg: >-
      The default fail2ban drop-in configuration file '{{ __run_fail2ban_config_service_dropin_file_path_default }}' exists (even though a custom filename is used).
    success_msg: >-
      The default fail2ban drop-in configuration file '{{ __run_fail2ban_config_service_dropin_file_path_default }}' does not exist (valid as custom filename is used).
  when:
    - __run_fail2ban_config_service_dropin_file_path != __run_fail2ban_config_service_dropin_file_path_default


- name: "Molecule | Verify | Gather service facts"
  ansible.builtin.service_facts:


- name: "Molecule | Verify | Show service facts"
  ansible.builtin.debug:
    var: ansible_facts['services']
    verbosity: 3


- name: "Molecule | Verify | Assert Fail2ban service is running"
  ansible.builtin.assert:
    that:
      - ansible_facts['services'][__run_fail2ban_fail2ban_servicename] is ansible.builtin.defined
      - ansible_facts['services'][__run_fail2ban_fail2ban_servicename].state == 'running'
    fail_msg: "Fail2ban service '{{ __run_fail2ban_fail2ban_servicename }}' is not running"
    success_msg: "Fail2ban service '{{ __run_fail2ban_fail2ban_servicename }}' is running"

